<div class="container-process">
  <div class="box">Box 1</div>
  <div class="box">Box 2</div>
  <div class="box">Box 3</div>
  <div class="box">Box 4</div>
  <div class="box">Box 5</div>
</div>

<ng-template #contactsocial>
  <h3>Esta plantilla la voy a utilizar con un if para mostrar por default las redes sociales</h3>
</ng-template>

<div class="body-contact">
  <div class="content-contact">
  <h2>Contactame</h2>
  <hr>
  <div class="menu-options">
    <div class="contact">
      <h3>Instagram</h3>
    </div>
    <div class="contact">
      <h3>TikTok</h3>
    </div>
    <div class="contact">
      <h3>WhatsApp</h3>
    </div>
    <div class="contact">
      <h3>Correo</h3>
    </div>
  </div>
</div>
</div>


<!--<ng-template #contacttome>-->
  <form class="form-c">
    <h2 class="title-form">Formulario de contacto</h2>
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputText" class="form-label">Asunto</label>
      <input type="text" class="form-control" id="exampleInpuText" aria-describedby="textHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputMessage" class="form-label">Email address</label>
      <input type="text" class="form-control" id="exampleInputMessage" aria-describedby="messageHelp">
      <div id="messageHelp" class="form-text">Escribe tu mensaje lo mas detallado.</div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
  </form>
<!--</ng-template>-->
