.navbar {
  background-color: #e5d6c000;
  padding: 2% 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.navbar-brand{
  font-weight: bold;
  font-style: italic;
  font-size: 190%;
}

.navbar.transparent {
  background-color: rgba(58, 58, 58, 0.76); /* Ajusta la transparencia según sea necesario */
  transition: all 500ms ease-out;
}

.nav-link {
  color: aliceblue;
  font-weight: bold;
}

.activeP {
  color: black;
}

@media (max-width: 800px){
  .nav-item{
    color: white;
    font-weight: bold;
  }
}
